:root {
    --primary-blue: #00539b;
    --dark-bg: #0a0a0a;
    --glass: rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    font-family: 'Segoe UI', serif;
    background-color: var(--dark-bg);
    color: white;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('campus.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: var(--glass);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.2);
    text-align: center;
    transition: 0.3s;
}

.hidden { display: none; }

/* Dashboard Layout */
#dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    background: #111;
}

.sidebar {
    background: #000;
    padding: 20px;
    border-right: 1px solid var(--primary-blue);
}
